/*Change the background of the html file to gray*/
body {
  background-color: lightgray;
}
/*Move the latitude text to the left side and color it */
a.navbar-button{
  margin-left: 10px;
  padding: 10px;
  font-size: 19px;
  background-color: rgb(81, 175, 160);
  color:white;
}
/* Styling the navbar*/
.navbar{
  color:white;
  padding-right:33px;
  padding-top:0px;
  padding-bottom: 0px;
}
/*Change color of Summary: Latitude vs X and Visualizations */
h3{
  color: rgb(81, 175, 160);
  padding: 15px;
  font-weight: bold;
}
/* Change color to white */
.col-md-12{
  background-color: white;
  padding-top: 20px;
  padding-bottom:40px;
}
/* Add padding to image*/
.img-thumbnail{
  padding:10px;
  border: none;
}
/* image border styling*/
.pic{
  border: 3px solid rgb(81, 175, 160);
}

/*Change the styling of the paragraph text*/
p{
  font-family: 'Times New Roman', Times, serif;
  padding:10px;
}

/* small screen adjustments*/
@media(max-width:767px){
  .navbar.bg-light{
      background-color: rgb(81, 175, 160)!important;    
  }

  .navbar-collapse{
      background-color: #f8f9fa;
  }
  .navbar{
      padding:inherit;
  }
}
